
.DS_Store

examples/.classpath

examples/.project

examples/.settings/org.eclipse.jdt.core.prefs

examples/bin

main/bin

main/.settings/
examples/.settings/

main-classes
example-classes


.gitignore~

main/.classpath

main/.project

examplecompile.sh~

exampleoptions~

example~

doc.sh~

perf.sh~

classes.bak
